<h1><%= @user.name %></h1>

<h4>User Games</h4>
<body>

<% @user.games.each do |game| %>
 <div><%= game.title %></div>
<% end %>


| <%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "Quit Fog", user_path(@user), :method => :delete %> |
</body>
