<h1>All Games</h1>

    <% @games.each do |game| %>
        <div><%= link_to game.title, game_path(game) %></div>
    <% end %>

<% if @current && @current.admin %>
<BR><%= link_to "Add Game", new_game_path %>
<% end %>